* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 14px; }
  @media (min-width: 641px) {
    html {
      font-size: 16px; } }

.header {
  padding: 15px 0;
  width: 100%;
  background: #be0000; }

.header .menu {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  .header .menu a {
    color: #fff;
    text-decoration: none; }
  .header .menu .brand {
    max-width: 350px; }
    .header .menu .brand img {
      width: 100%; }
  .header .menu ul.navigation-list {
    display: flex;
    flex-flow: column;
    align-items: start;
    list-style-type: none; }
    .header .menu ul.navigation-list li {
      position: relative;
      padding: 0.4rem;
      line-height: 1.6; }
      .header .menu ul.navigation-list li ul.dropdown {
        list-style-type: none;
        background: #910000;
        padding: 0.4rem;
        width: 100%; }
      .header .menu ul.navigation-list li:hover {
        background: red; }

@media (min-width: 641px) {
  .header {
    padding: 15px 5px; }

  .header .menu {
    align-items: center;
    justify-content: space-between; }
    .header .menu .brand img {
      height: 40px;
      width: auto; }
    .header .menu ul.navigation-list {
      justify-content: center;
      flex-flow: row wrap; }
      .header .menu ul.navigation-list li ul.dropdown {
        width: auto;
        position: absolute;
        z-index: 2;
        display: none;
        left: 0; }
      .header .menu ul.navigation-list li:hover ul.dropdown {
        display: block; } }
.serpimolot {
  vertical-align: middle;
  height: 25px;
  width: auto; }

.main {
  margin-top: 40px;
  width: 100%; }
  .main iframe {
    width: 100%; }
  .main .content {
    max-width: 540px;
    margin: auto;
    background: seashell;
    border: 1px solid gray;
    padding: 0 80px; }
    @media (min-width: 740px) {
      .main .content {
        max-width: 640px; } }
    @media (min-width: 840px) {
      .main .content {
        max-width: 740px; } }
    @media (min-width: 940px) {
      .main .content {
        max-width: 840px; } }
    @media (min-width: 1040px) {
      .main .content {
        max-width: 940px; } }
    .main .content ul li, .main .content ol li {
      margin-left: 25px; }
    .main .content .article-photo {
      padding: 25px 0; }
      .main .content .article-photo > img {
        width: 100%; }
    .main .content .article-info .knopka {
      text-align: center;
      padding: 7px; }
      .main .content .article-info .knopka .nadpis-knopki {
        padding: 5px; }
        .main .content .article-info .knopka .nadpis-knopki .sama-nadpis {
          text-decoration: none;
          color: black; }
    .main .content .article-info .tabsWrap section {
      margin-top: 20px; }
      .main .content .article-info .tabsWrap section iframe {
        max-width: 100%; }
    .main .content .article-info .tabsWrap .tabs {
      display: flex;
      flex-flow: column;
      justify-content: space-around; }

.central {
  margin-top: 40px;
  width: 100%; }
  .central .container {
    max-width: 540px;
    margin: auto; }
    @media (min-width: 740px) {
      .central .container {
        max-width: 640px; } }
    @media (min-width: 840px) {
      .central .container {
        max-width: 740px; } }
    @media (min-width: 940px) {
      .central .container {
        max-width: 840px; } }
    @media (min-width: 1040px) {
      .central .container {
        max-width: 940px; } }
    .central .container .item {
      background: seashell;
      border: 1px solid gray;
      padding: 20px;
      margin-top: 20px; }
      @media (min-width: 740px) {
        .central .container .item {
          margin: 40px 80px 0 80px; } }
      .central .container .item:last-child {
        margin-bottom: 40px; }
    .central .container img {
      width: 100%; }

.ground {
  margin-top: 50px; }
  .ground ul {
    background: #be0000;
    list-style: none; }
    .ground ul, .ground ul a {
      color: #fff; }
    .ground ul li {
      padding: 1rem; }
      .ground ul li a {
        padding: 0.8rem; }

/*# sourceMappingURL=main.css.map */
